@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

/* COLORS */
:root {
  --color-primary: #282828;
  --color-secondary: #5E5E5E;
}

body {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100svh;
  font-family: "DM Sans", sans-serif;
  color: var(--color-primary);
}

@media (min-width: 55rem) {
  body {
    flex-direction: column;
  }
}

main {
  display: flex;
  flex-grow: 1;
  margin: 1rem;
  justify-content: center;
}

main > section {
  width: 100%;
  max-width: 40rem;
}

/* TEXT */
h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 1rem 0;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.2;
}

a {
  cursor: pointer;
}
